html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: sans-serif;
    text-align: center;
}
.main-header,
.main-footer {
    padding: 1em;
}
